aside{
    padding: 20px;
    height: calc(100vh - 79px);
    background-color: $primary-color;
    h4{
        color: white;
    }
    a{
        color: white;
    }
}
.dashboard{
    i{
        font-size: 25px;
    }
    a {
        width: 100px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
    }
}
.text-dashboard{
    display: inline-block;
    padding: 10px;
}

.card-sponsorization {
    width: 280px;
    height: 350px;
    box-shadow: 0 0 4px 0 lightgray;
    transition-duration: 0.6s;
    cursor: pointer;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 8px 0 rgba(0,0,0,.2);
        transition-duration: 0.6s;
    }

    h1 {
        padding: 20px 0;

        .decimal-nn {
            font-size: 18px;
        }

        .eur {
            font-size: 30px;
        }

        .plan {
            font-size: 40px;
            color: black;
            font-style: normal;
        }
    }

    .type-plan {
        font-style: italic;
    }

    .price {
        font-size: 50px;
        font-style: italic;
    }

    h2 {
        padding: 20px 0;
    }

    hr {
        border: 0.5px solid lightgray;
        width: 80%;
    }
}
