body{
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin-top: -2px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background-image: url('T6_5.png');
    background-size: cover;
    background-position: center ;
    transition: all 0.5s ease-in-out;
}
.navbar{
    box-shadow: 5px 10px 10px #8686862a ;
}
header{
    nav{
        justify-content: space-between;
        padding: 25px;
        align-items: center;
        box-shadow: 1px 1px 5px;
    }
    .logo{
        max-width: 200px;
    }
}
.navbar-brand.my-navbar-brand{
    width: 200px;
}
.layout-container{
    max-height: calc(100vh - 100px);
}
h1{
    font-weight:600;
}
.my-select{
    margin-right: 10px;
    border:0px;
    outline:0px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    height: 33px;
}
.suggested-doctors{
    .card{
        margin: 25px;
        width: calc(25% - 50px);
    }
}
.suggested-doctors{
    .btn-primary{
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}
.card-header{
    background-color: $primary-color!important;
    color: white;
}
.form-group{
    label{
        max-width: 900px;
    }
}
.dottor-specs{
    i{
        min-width:40px;
    }

}
.img-preview{
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.charts-container{
    min-width: 700px;
    padding:25px 100px;
    flex-grow: 1;
}