@media screen and (max-width:1100px) {
    div.suggested-doctors{
        .card{
            width: calc(33% - 50px);
        }
    }
}
@media screen and (max-width:700px) {
    .text-dashboard{
        display: none;
    }
    div.suggested-doctors{
        .card{
            width: calc(50% - 50px);
        }
    }
    .my-select{
        width: 100%;
        margin: 25px 0px;

    }
}
@media screen and (max-width:500px) {
    div.suggested-doctors{
        .card{
            width: 100%;
        }
    }
}