.bg-color-primary{
    background-color:  $primary-color;
}
.my-wrap{
    max-width: 1200px;
    margin: auto;
}
.color-primary{
    color: $primary-color;
}
.justify-self-start{
    justify-self: flex-start;
}
.scroll-layout{
    overflow-y: scroll;
    height: 50vh;
}
.bg-light-gray{
    background-color: #e7e7e777;
}
.no-height{
    min-height: 0px;
    background-image: none;
    background-color: $primary-color;
}
.profile-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
}
.loading{
    width: 50px;
    height: 50px;
}
.secondary-color{
    color:#347DDE
}
.third-color{
    color:#28B0D0
}
.bg-secondary-color{
    background-color:#347DDE;
}
.bg-third-color{
    background-color:#28B0D0;
}