.bg-color-primary{
    background-color:  $primary-color;
}
.my-wrap{
    max-width: 1200px;
    margin: auto;
}
.color-primary{
    color: $primary-color;
}
.justify-self-start{
    justify-self: flex-start;
}
.scroll-layout{
    overflow-y: scroll;
    height: 50vh;
}
.bg-light-gray{
    background-color: #e7e7e777;
}
.no-height{
    min-height: 0px;
    background-image: none;
    background-color: $primary-color;
}